/* MEDIAS QUERIES ######################################################### */
@media (min-width:768px) {
  :root {
    --bg-url: url(../assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(../assets/bg-desktop-light.jpg);
  }
}

/* ANIMATIONS WITH KEYFRAMES ######################################################### */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}